.scroll-items{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;

    margin-bottom: 1em;

    display: flex;
    justify-content: center;
}

.items{
    margin: 0;
    width: 90%;
    height: 500px;
    border-radius: 8px;
}

.items::-webkit-scrollbar{
    border-radius: 8px;
    background: #161616;
}

.items::-webkit-scrollbar-thumb{
    background: none;
}

#items{
    margin: 0;
    padding: 1em;
    border-radius: 20px;
    background: #fff;
}

#items li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;

    border-bottom: 1px solid;
}

#items .areaBtnRemove{
    display: flex;
    align-items: center;
}

#items .btnRemove{
    height: 2em;
    width: 2em;
    border: none;
    background: none;
    font-size: 10pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px){
    .items{
        width: 90%;
        height: 600px;
    }
}